*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

.site-header{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px;
}
.site-logo{
    font-family: sans-serif;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
.menu-list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.3rem;
    color: rgb(65, 65, 65);
}
.menu-link:hover{
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.3rem;
    color: rgb(46, 46, 46);
    border-bottom: solid black 5px;
    
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-title{
    position: absolute;
    padding: 30px;
    background-color: rgba(37, 37, 37, 0.815);
    color: #fff;
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
}
.paragrafo-home{
    font-size: 0.7em;
    margin: 20px;
}
.linha-home{
    width: 100px;
    display: inline-block;
}
.home-bg-image{
    width: 100%;
    height: 700px;
    object-fit: cover;

}

.modulos-bloco{ 
    padding: 50px;
    height: 350px;
}

.curso-list{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;        
}

.curse-item{
    padding: 15px;
    font-size: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(243 243 243);
}

 #aulas{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
    
 }
 .bloco{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #4a4747;
 }

 .bloco h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
 }

.icons1{
    position: absolute;
    top: 220px;
    left: 265px;
 }
 .icons2{
    position: absolute;
    top: 280px;
    left: 265px;
 }
 .icons3{
    position: absolute;
    top: 220px;
    left: 275px;
 }
 .icons4{
    position: absolute;
    top: 280px;
    left: 250px;
 }
i{
    font-size: 50px;
    position: absolute;
    color: white;
}


 #aluno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    
}
.card{
    background-color: white;
    width: 300px;
    height: 350px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.card .aluno-img{
    width: 60%;
    margin-left: 20%;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}
.card h1{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}
.card i{
    color: red;
    border: solid blue;
    text-align: center;
}
footer{
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}


@media(max-width: 500px){
    .site-logo{
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    }

    .home-bg-image{
    width: 1000vw;
    height: 500px;
    object-fit: cover;
    }
    .home-title{
    position: absolute;
    left: 50%;
    padding: 15px;
    background-color: rgba(37, 37, 37, 0.815);
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    }
    .modulos-bloco{ 
        padding: 20px;
        height: 150px;
        margin-left: 200px;
    }
    #aulas{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
        
     }
    .bloco {
        width: 750px;
        height: 400px;
        position: relative;
        background-color: #4a4747;
    }
    .curso-list{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
        margin-left: 170px      
    }
    div, .bloco{
        display: inline;
    }
    .bloco h2 {
        text-align: center;
        margin-left: 190px;
        margin-top: 50px;
        color: white;
     }
     .icons1{
        position: absolute;
        top: 150px;
        left: 365px;
     }
     .icons2{
        position: absolute;
        top: 250px;
        left: 365px;
     }
     .icons3{
        position: absolute;
        top: 150px;
        left: 365px;
     }
     .icons4{
        position: absolute;
        top: 255px;
        left: 340px;
     }
     i{
        font-size: 50px;
        position: absolute;
        color: white;
        left: 250px;
    }
    .card{
        background-color: white;
        width: 200px;
        height: 250px;
        border: solid black 1px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        margin-left: 180px;
    }
    footer{
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        width: 550px;
    }
}